In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from xgboost.sklearn import XGBClassifier
from sklearn.model_selection import GridSearchCV
import joblib
import warnings
warnings.filterwarnings('ignore')
from sklearn.feature_selection import RFE
import matplotlib.pyplot as pyplot
from sklearn.metrics import roc_curve, auc
from sklearn.feature_selection import VarianceThreshold
from pandas.api.types import is_numeric_dtype, is_categorical_dtype, is_string_dtype
from datapreparation import *

In [8]:
flights = pd.read_csv('/Users/user/Documents/Github/flightstatus/data/dev/flights_processed.csv')

In [15]:
flights.columns

Index(['YEAR', 'MONTH', 'DAY', 'DAY_OF_WEEK', 'FLIGHT_NUMBER',
       'SCHEDULED_DEPARTURE', 'SCHEDULED_TIME', 'DISTANCE',
       'SCHEDULED_ARRIVAL', 'LATITUDE_ORIGIN', 'LONGITUDE_ORIGIN',
       'LATITUDE_DESTINATION', 'LONGITUDE_DESTINATION', 'TARGET',
       'HOLIDAY_FLAG', 'WEEKEND', 'DATE', 'DATE_TRAFFIC', 'MONTH_TRAFFIC',
       'AIRLINE_TRAFFIC', 'ORIGIN_AIRPORT_TRAFFIC',
       'DESTINATION_AIRPORT_TRAFFIC', 'AIRPORT_ORIGIN_INTL',
       'AIRPORT_DESTINATION_INTL', 'LONGITUDE_DIF', 'LATITUDE_DIF',
       'AIRLINE_CAT', 'TAIL_NUMBER_CAT', 'ORIGIN_AIRPORT_CAT',
       'DESTINATION_AIRPORT_CAT', 'CITY_ORIGIN_CAT', 'STATE_ORIGIN_CAT',
       'COUNTRY_ORIGIN_CAT', 'CITY_DESTINATION_CAT', 'STATE_DESTINATION_CAT',
       'COUNTRY_DESTINATION_CAT', 'HOLIDAY_CAT'],
      dtype='object')

In [16]:
flights[flights.ORIGIN_AIRPORT_CAT.isnull()]

Empty DataFrame
Columns: [YEAR, MONTH, DAY, DAY_OF_WEEK, FLIGHT_NUMBER, SCHEDULED_DEPARTURE, SCHEDULED_TIME, DISTANCE, SCHEDULED_ARRIVAL, LATITUDE_ORIGIN, LONGITUDE_ORIGIN, LATITUDE_DESTINATION, LONGITUDE_DESTINATION, TARGET, HOLIDAY_FLAG, WEEKEND, DATE, DATE_TRAFFIC, MONTH_TRAFFIC, AIRLINE_TRAFFIC, ORIGIN_AIRPORT_TRAFFIC, DESTINATION_AIRPORT_TRAFFIC, AIRPORT_ORIGIN_INTL, AIRPORT_DESTINATION_INTL, LONGITUDE_DIF, LATITUDE_DIF, AIRLINE_CAT, TAIL_NUMBER_CAT, ORIGIN_AIRPORT_CAT, DESTINATION_AIRPORT_CAT, CITY_ORIGIN_CAT, STATE_ORIGIN_CAT, COUNTRY_ORIGIN_CAT, CITY_DESTINATION_CAT, STATE_DESTINATION_CAT, COUNTRY_DESTINATION_CAT, HOLIDAY_CAT]
Index: []

[0 rows x 37 columns]

In [9]:
NUM_VAR = [v for v in data.columns if is_numeric_dtype(flights[v])]
STR_VAR = [v for v in data.columns if is_string_dtype(flights[v])]

In [10]:
NULL_VAR = get_col_with_null(flights)
NUM_VAR_COMPLETE = [v for v in flights.columns if is_numeric_dtype(flights[v]) and v not in [NULL_VAR]]

In [12]:
NULL_VAR

['SCHEDULED_TIME',
 'LATITUDE_ORIGIN',
 'LONGITUDE_ORIGIN',
 'LATITUDE_DESTINATION',
 'LONGITUDE_DESTINATION',
 'LONGITUDE_DIF',
 'LATITUDE_DIF']

In [14]:
flights[flights.LATITUDE_ORIGIN.isnull()]

,YEAR,MONTH,DAY,DAY_OF_WEEK,FLIGHT_NUMBER,SCHEDULED_DEPARTURE,SCHEDULED_TIME,DISTANCE,SCHEDULED_ARRIVAL,LATITUDE_ORIGIN,...,TAIL_NUMBER_CAT,ORIGIN_AIRPORT_CAT,DESTINATION_AIRPORT_CAT,CITY_ORIGIN_CAT,STATE_ORIGIN_CAT,COUNTRY_ORIGIN_CAT,CITY_DESTINATION_CAT,STATE_DESTINATION_CAT,COUNTRY_DESTINATION_CAT,HOLIDAY_CAT
2098,2015,1,1,4,1652,835,80.0,401,955,NaN,...,731,97,38,224,10,1,205,45,1,8
3291,2015,1,1,4,5338,959,61.0,240,1200,NaN,...,192,97,21,224,10,1,19,11,1,8
5504,2015,1,1,4,4207,1220,120.0,798,1520,NaN,...,2565,97,52,224,10,1,24,22,1,8
6900,2015,1,1,4,1743,1349,71.0,240,1600,NaN,...,4762,97,21,224,10,1,19,11,1,8
7624,2015,1,1,4,263,1435,115.0,571,1630,NaN,...,3617,97,144,224,10,1,132,46,1,8
10444,2015,1,1,4,1958,1735,75.0,240,1950,NaN,...,4599,97,21,224,10,1,19,11,1,8
10875,2015,1,1,4,1359,1800,115.0,658,1955,NaN,...,593,314,150,278,10,1,52,48,1,8
14435,2015,1,2,5,508,600,68.0,240,808,NaN,...,4361,97,21,224,10,1,19,11,1,0
17343,2015,1,2,5,1652,835,80.0,401,955,NaN,...,3207,97,38,224,10,1,205,45,1,0
18719,2015,1,2,5,5338,959,61.0,240,1200,NaN,...,475,97,21,224,10,1,19,11,1,0
20520,2015,1,2,5,1733,1140,71.0,240,1351,NaN,...,4599,97,21,224,10,1,19,11,1,0
21174,2015,1,2,5,4207,1220,120.0,798,1520,NaN,...,2791,97,52,224,10,1,24,22,1,0
22654,2015,1,2,5,1743,1349,71.0,240,1600,NaN,...,4886,97,21,224,10,1,19,11,1,0
23430,2015,1,2,5,2184,1435,115.0,571,1630,NaN,...,2738,97,144,224,10,1,132,46,1,0
24969,2015,1,2,5,966,1605,135.0,801,1820,NaN,...,4522,314,306,278,10,1,286,33,1,0
26477,2015,1,2,5,1958,1735,75.0,240,1950,NaN,...,4880,97,21,224,10,1,19,11,1,0
31176,2015,1,3,6,508,600,68.0,240,808,NaN,...,4741,97,21,224,10,1,19,11,1,0
33822,2015,1,3,6,1652,835,80.0,401,955,NaN,...,1631,97,38,224,10,1,205,45,1,0
35118,2015,1,3,6,5338,959,60.0,240,1159,NaN,...,4843,97,21,224,10,1,19,11,1,0
36750,2015,1,3,6,1733,1139,71.0,240,1350,NaN,...,4805,97,21,224,10,1,19,11,1,0
37393,2015,1,3,6,4207,1220,120.0,798,1520,NaN,...,2785,97,52,224,10,1,24,22,1,0
38785,2015,1,3,6,1743,1349,70.0,240,1559,NaN,...,1031,97,21,224,10,1,19,11,1,0
39479,2015,1,3,6,1306,1435,115.0,571,1630,NaN,...,1090,97,144,224,10,1,132,46,1,0
39581,2015,1,3,6,1359,1440,115.0,658,1635,NaN,...,4495,314,150,278,10,1,52,48,1,0
42397,2015,1,3,6,1958,1740,75.0,240,1955,NaN,...,4583,97,21,224,10,1,19,11,1,0
46618,2015,1,4,7,508,600,68.0,240,808,NaN,...,4762,97,21,224,10,1,19,11,1,0
49309,2015,1,4,7,1652,835,80.0,401,955,NaN,...,766,97,38,224,10,1,205,45,1,0
50654,2015,1,4,7,5338,959,61.0,240,1200,NaN,...,292,97,21,224,10,1,19,11,1,0
52414,2015,1,4,7,1733,1140,71.0,240,1351,NaN,...,4458,97,21,224,10,1,19,11,1,0
53063,2015,1,4,7,4207,1220,120.0,798,1520,NaN,...,3304,97,52,224,10,1,24,22,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5288164,2015,12,29,2,4579,605,121.0,572,806,NaN,...,585,97,152,224,10,1,132,46,1,0
5291537,2015,12,29,2,4929,929,73.0,240,1142,NaN,...,292,97,21,224,10,1,19,11,1,0
5291636,2015,12,29,2,545,935,80.0,401,1055,NaN,...,2975,97,38,224,10,1,205,45,1,0
5294265,2015,12,29,2,2556,1213,76.0,240,1429,NaN,...,4777,97,21,224,10,1,19,11,1,0
5294322,2015,12,29,2,486,1215,115.0,571,1410,NaN,...,1300,97,144,224,10,1,132,46,1,0
5296386,2015,12,29,2,4472,1430,121.0,572,1631,NaN,...,89,97,152,224,10,1,132,46,1,0
5296524,2015,12,29,2,2506,1436,71.0,240,1647,NaN,...,4797,97,21,224,10,1,19,11,1,0
5299216,2015,12,29,2,2508,1730,76.0,240,1946,NaN,...,4634,97,21,224,10,1,19,11,1,0
5300150,2015,12,29,2,1682,1820,120.0,571,2020,NaN,...,1032,97,144,224,10,1,132,46,1,0
5301815,2015,12,29,2,1632,2010,80.0,401,2130,NaN,...,3511,97,38,224,10,1,205,45,1,0
5304050,2015,12,30,3,508,600,70.0,240,810,NaN,...,4882,97,21,224,10,1,19,11,1,0
5304368,2015,12,30,3,4579,605,121.0,572,806,NaN,...,75,97,152,224,10,1,132,46,1,0
5307757,2015,12,30,3,4929,929,73.0,240,1142,NaN,...,185,97,21,224,10,1,19,11,1,0
5307862,2015,12,30,3,545,935,80.0,401,1055,NaN,...,1090,97,38,224,10,1,205,45,1,0
5308822,2015,12,30,3,928,1030,135.0,801,1245,NaN,...,4617,314,306,278,10,1,286,33,1,0
5310496,2015,12,30,3,2556,1213,76.0,240,1429,NaN,...,4846,97,21,224,10,1,19,11,1,0
5310554,2015,12,30,3,486,1215,115.0,571,1410,NaN,...,1273,97,144,224,10,1,132,46,1,0
5312609,2015,12,30,3,4472,1430,121.0,572,1631,NaN,...,151,97,152,224,10,1,132,46,1,0
5312750,2015,12,30,3,2506,1436,71.0,240,1647,NaN,...,4358,97,21,224,10,1,19,11,1,0
5315455,2015,12,30,3,2508,1730,76.0,240,1946,NaN,...,4809,97,21,224,10,1,19,11,1,0
5316405,2015,12,30,3,1682,1820,120.0,571,2020,NaN,...,2636,97,144,224,10,1,132,46,1,0
5318075,2015,12,30,3,1632,2010,80.0,401,2130,NaN,...,3660,97,38,224,10,1,205,45,1,0
5320212,2015,12,31,4,508,600,69.0,240,809,NaN,...,4881,97,21,224,10,1,19,11,1,7
5320468,2015,12,31,4,4579,605,121.0,572,806,NaN,...,387,97,152,224,10,1,132,46,1,7
5323500,2015,12,31,4,4929,929,73.0,240,1142,NaN,...,200,97,21,224,10,1,19,11,1,7
5323540,2015,12,31,4,3484,930,80.0,401,1050,NaN,...,1032,97,38,224,10,1,205,45,1,7
5325925,2015,12,31,4,2556,1205,73.0,240,1418,NaN,...,4748,97,21,224,10,1,19,11,1,7
5326408,2015,12,31,4,3408,1235,115.0,571,1430,NaN,...,607,97,144,224,10,1,132,46,1,7
5328028,2015,12,31,4,4472,1430,121.0,572,1631,NaN,...,234,97,152,224,10,1,132,46,1,7
5328157,2015,12,31,4,2506,1436,69.0,240,1645,NaN,...,4676,97,21,224,10,1,19,11,1,7

In [11]:
selector = VarianceThreshold()
selector.fit(flights[NUM_VAR_COMPLETE])
# NUM_VAR_REMOVED = [NUM_VAR_COMPLETE[i] for i in range(len(NUM_VAR_COMPLETE)) if selector.get_support()[i] == False]

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

In [68]:
df_train, df_test = train_test_split(data, stratify = data['TARGET'], test_size=0.3, random_state=12)

In [69]:
selector = VarianceThreshold()
selector.fit(df_train[NUM_VAR])

VarianceThreshold(threshold=0.0)

In [72]:
NUM_VAR_NOTSELECTED = [NUM_VAR[i] for i in range(len(NUM_VAR)) if selector.get_support()[i] ==False]
NUM_VAR_NOTSELECTED

['YEAR',
 'MONTH',
 'DAY',
 'DAY_OF_WEEK',
 'HOLIDAY_FLAG',
 'WEEKEND',
 'DATE_TRAFFIC',
 'MONTH_TRAFFIC']

In [70]:
NUM_VAR_SELECTED = [NUM_VAR[i] for i in range(len(NUM_VAR)) if selector.get_support()[i]]
NUM_VAR_SELECTED

['FLIGHT_NUMBER',
 'SCHEDULED_DEPARTURE',
 'SCHEDULED_TIME',
 'DISTANCE',
 'SCHEDULED_ARRIVAL',
 'LATITUDE_ORIGIN',
 'LONGITUDE_ORIGIN',
 'LATITUDE_DESTINATION',
 'LONGITUDE_DESTINATION',
 'TARGET',
 'AIRLINE_CAT',
 'ORIGIN_AIRPORT_CAT',
 'DESTINATION_AIRPORT_CAT',
 'AIRLINE_TRAFFIC',
 'ORIGIN_AIRPORT_TRAFFIC',
 'DESTINATION_AIRPORT_TRAFFIC',
 'AIRPORT_ORIGIN_INTL',
 'AIRPORT_DESTINATION_INTL',
 'LONGITUDE_DIF',
 'LATITUDE_DIF']

In [18]:
NUM_VAR

['YEAR',
 'MONTH',
 'DAY',
 'DAY_OF_WEEK',
 'FLIGHT_NUMBER',
 'SCHEDULED_DEPARTURE',
 'DEPARTURE_TIME',
 'DEPARTURE_DELAY',
 'TAXI_OUT',
 'WHEELS_OFF',
 'SCHEDULED_TIME',
 'ELAPSED_TIME',
 'AIR_TIME',
 'DISTANCE',
 'WHEELS_ON',
 'TAXI_IN',
 'SCHEDULED_ARRIVAL',
 'ARRIVAL_TIME',
 'ARRIVAL_DELAY',
 'DIVERTED',
 'CANCELLED',
 'AIR_SYSTEM_DELAY',
 'SECURITY_DELAY',
 'AIRLINE_DELAY',
 'LATE_AIRCRAFT_DELAY',
 'WEATHER_DELAY',
 'LATITUDE_ORIGIN',
 'LONGITUDE_ORIGIN',
 'LATITUDE_DESTINATION',
 'LONGITUDE_DESTINATION',
 'TARGET',
 'AIRLINE_CAT',
 'ORIGIN_AIRPORT_CAT',
 'DESTINATION_AIRPORT_CAT',
 'HOLIDAY_FLAG',
 'WEEKEND',
 'DATE_TRAFFIC',
 'MONTH_TRAFFIC',
 'AIRLINE_TRAFFIC',
 'ORIGIN_AIRPORT_INTL',
 'ORIGIN_AIRPORT_TRAFFIC',
 'DESTINATION_AIRPORT_INTL',
 'DESTINATION_AIRPORT_TRAFFIC',
 'LONGITUDE_DIF',
 'LATITUDE_DIF']

In [81]:
nulldf = missing_percent(data, data.columns)

The percentage of missing data

In [86]:
nulldf = data.isnull().sum()

In [89]:
nulldf[nulldf>0].index.tolist()

['TAIL_NUMBER']